body{
    margin:40%;
}
.red {
    background-color: red;
    width: 300px;
    height: 300px;
    border: 10px solid rgb(225, 79, 79);
}
.yellow {
    background-color: yellow;
    width: 300px;
    height: 300px;
    border: 10px solid rgb(140, 140, 5);
}
.green {
    background-color: green;
    width: 300px;
    height: 300px;
    border: 10px solid rgb(20, 66, 20);
}

.red {
    background-image: conic-gradient(red 0deg 90deg,rgb(216, 48, 48) 90deg 270deg, red 270deg 360deg);
}
.yellow {
    background-image: conic-gradient(yellow 0deg 90deg,rgb(224, 224, 69) 90deg 180deg, yellow 180deg 270deg, yellow 270deg 360deg);
}
.green {
    background-image: conic-gradient(green 0deg 90deg,green 90deg 180deg, rgb(122, 193, 122) 180deg 270deg, green 270deg 360deg);
}