[submodule "CV2"]
	path = CV2
	url = https://github.com/Chasacademy-Camilla-Sundbom/CV2.git
[submodule "Workshop 6 - JavaScript CodeJam"]
	path = Workshop 6 - JavaScript CodeJam
	url = https://github.com/Chasacademy-Camilla-Sundbom/Guessing-Game.git
